<h1>Song Form Page</h1>

<%= form_for (@song) do |f| %>
  <label>Enter Song Name: </label><br>
  <%= f.text_field :name %><br>

  <label>Enter Artist ID</label><br>
  <%= f.text_field :artist_id %><br>

  <label>Enter Genre ID</label><br>
  <%= f.text_field :genre_id %><br>

  <%= f.submit %>
<% end %>
